---
name: Go

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch: {}
jobs:
  basic:
    name: Basic health checks
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        go:
          - ">=1.26.0"
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go:${{ matrix.go }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - name: Make build
        run: make build
      - name: Make test
        run: make test

  advanced:
    name: Full check code quality
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ">=1.26.0"
      - name: Make check
        run: make check
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.out
          verbose: true
